@model Examen1_SistemasdeInformacion.Models.Empleado

@{
    ViewData["Title"] = "Ver registro";
}

<div class="contenedorprincipal">

    <h2 class="text">Eliminar el registro</h2>
    <hr />

    <div>
        <form asp-action="Delete">

            <input type="hidden" asp-for="EmpleadoId" />

            <div class="color">
                <div class="contenedorizquierdo">

                    <div>
                        <label asp-for="EmpleadoCodigo"></label>
                        <input class="input1" placeholder="@Html.DisplayFor(model => model.EmpleadoCodigo)" disabled>
                    </div>
                    <div>
                        <label asp-for="EmpleadoApellidos"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoApellidos)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoNombres"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoNombres)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoApodo"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoApodo)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoDireccion"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoDireccion)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoCodigoPostal"></label>
                        <input class="input1" placeholder="@Html.DisplayFor(model => model.EmpleadoCodigoPostal)" disabled>
                    </div>

                </div>

                <div class="contenedorderecho">
                    <div>
                        <label asp-for="EmpleadoTelefono"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoTelefono)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoCelular"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoCelular)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoFax"></label>
                        <input class="input" placeholder="@Html.DisplayFor(model => model.EmpleadoFax)" disabled>
                    </div>

                    <div>
                        <label asp-for="EmpleadoEmail"></label>
                        <label>@Html.DisplayFor(model => model.EmpleadoEmail)</label>
                    </div>
                </div>

                <div class="abajo">
                    <div>
                        <label asp-for="EmpleadoObservaciones"></label>
                        <input class="input2" placeholder="@Html.DisplayFor(model => model.EmpleadoObservaciones)" disabled>
                    </div>
                </div>

                <div class="boton">

                    <input type="submit" class="btn btn-danger" value="Eliminar Registro" />
                    <a asp-action="Index" class="btn btn-success">Volver</a>

                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<link rel="stylesheet" href="~/css/Styles.css" />


